<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>






    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laborel"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PdfViewerActivity"
            tools:ignore="WrongManifestParent" />

        <activity android:name=".CylinderDataActivity" />


        <activity
            android:name=".telaicialCilinder_capsulasActivity"
            android:exported="false"
            android:label="@string/title_activity_cylinder_data"
            android:theme="@style/Theme.Laborel" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_telainicial"
            android:theme="@style/Theme.Laborel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Compactacao"
            android:exported="false"
            android:label="@string/title_activity_compactacao"
            android:theme="@style/Theme.Laborel" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_compactaçâo"
            android:theme="@style/Theme.Laborel" />
    </application>


</manifest>
